
body{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.badge-danger{
    background-color: red;
}

.badge-success{
    background-color: green;
}

.badge-primary{
    background-color: blue;
}

.accordion > .card-header{
    background-color: #0dcaf0;
}
/*

.row-content{
    margin-top: 100px;
    padding: 0px 200px 0px 200px;
}

/*
.left-content{
    padding: 400px 0px 0px 0px;
}

.left{
    background-color:white;
    color:#0c557b;
}

.btn{
    background-color:#0c557b;
}

.right{
    background-color: rgb(238, 235, 235);
}
*/
